main.home,
main.archive {
  .news-listing {

  }

  .news-item {
    margin-bottom: 2em;

    .date {
      font-size: 1rem;
    }

    .date::before {
      display: inline-block;
      letter-spacing: -3px;
      content: "——";
      padding-right: 0.7rem;
      font-size: 0.8rem;
      vertical-align: text-top;
    }
  }

  article + article {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #000;
  }
}



