main.home,
main.archive,
main.single {

  .news-item {
    margin-bottom: 2em;

    .date {
      font-size: 1rem;
    }

    .date::before {
      display: inline-block;
      letter-spacing: -3px;
      content: "——";
      padding-right: 0.7rem;
      font-size: 0.8rem;
      vertical-align: text-top;
    }
  }

  article + article {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #000;
  }

  .post-navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;

    .next-post {
      text-align: right;
    }
  }
}



