.front-page {
  display: grid;
  grid-template-columns: 1fr 228px;
  column-gap: 30px;
  margin: 2em auto 30px;

  article {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    row-gap: 30px;
  }
}

.text-tile {
  padding: 1.5em;
}

.intro-text {
  background-color: #118379;
  background-image: url('../images/lsp_logo.svg');
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: bottom 5px right 15px;
  background-size: 110px;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 27px;
  min-height: 410px;
}


aside {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;

  .tile {
    color: #FFF;
    background-size: cover;

    &.facebook {
      background: #DAE8E7;
      color: #000;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;
      align-items: center;
      padding: 1em;

      i {
        color: #0866FF;
        margin: 0 auto;
      }
    }
  }

}

.tile {
  display: grid;
  width: 228px;
  text-align: center;
  height: 190px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  padding: 0.3em 1em;
  background-size: cover;
  background-position: center bottom;

  &:hover {
    opacity: 0.7;
  }

  &:link,
  &:visited {

    color: #FFF;
  }

  text-decoration: none;


  img {
    width: 220px;
  }

  span {
    align-self: end;
  }
}

.tile.documentary {
  height: auto;
  padding: 0;

  img {
    max-width: 100%;
    width: auto;
  }
}

.text-tile.survey-dates {
  background: #EEE;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1.2rem;
  align-items: center;
}

.text-tile.news {
  border: 2px solid #e6e6e6;

  a:link, a:visited {
    color: #000;
  }
}

@include media-breakpoint-down(lg) {
  main {
    width: auto;
  }

  .front-page {
    display: block;
    max-width: 744px;
  }

  aside {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;

    .tile {
      max-width: 240px;
      width: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .front-page article,
  aside {
    margin-top: calc(var(--bs-gutter-x) * .5);
    row-gap: calc(var(--bs-gutter-x) * .5);
    column-gap: calc(var(--bs-gutter-x) * .5);
  }

}

@include media-breakpoint-down(sm) {
  .intro-text {
    padding: 1.5rem;
  }
  aside {
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;

    .tile {
      background-position: center;
      font-size: 1rem;
      max-width: 270px;
    }
  }
}