main.home,
main.archive,
main.single {

  .news-item {
    margin-bottom: 2em;

    header {
      display: grid;
      grid-template-columns: min-content 1fr;
      margin: 0 0 1rem;
      align-items: center;

      h2 {
        margin: 0;
      }

      a {
        padding-right: 1rem;
        color: #555;
      }
    }

    .date {
      font-size: 1rem;
    }

    .date::before {
      display: inline-block;
      letter-spacing: -3px;
      content: "——";
      padding-right: 0.7rem;
      font-size: 0.8rem;
      vertical-align: text-top;
    }
  }

  article + article {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #000;
  }

  .post-navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;

    .next-post {
      text-align: right;
    }
  }
}



